<div class="row">
    <div class="col-4 pt-5 mt-5 text-center">
        <h1 appHighlight>Decorators</h1>
    </div>
    <div class="col-8">
        <p>
            Decorators are simple finctions that allow a service, directive or a filter to be modified prior to its usage
            <br>
            Types:
            <br>
            1. Class Decorators <br>
                Component, Injectable, Directive, Decorator, Pipe, NgModule <br>
            2. Property Decorators <br>
                Input(), Output(), Overide(), viewChild(), viewChildren(), deprecate(), autobind(),mixin()
            3. Method Decorators <br>
                HostListener, HostBinding
            4. Parameter Decorators <br>
            'inject'
        </p>

        <p>
            Converting "TEST" to lowercase using custom pipe "{{test | customLowercase}}"
        </p>
    </div>
</div>